@using System.Collections.Generic
@using Blog.Entities

@{
    ViewBag.Title = "ShowArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
@{
    string Title = ViewBag.ArTitle;
    int ArticleId = ViewBag.Id;
    int AuthorId = ViewBag.AuthorId;
    Comment[] listComment = ViewBag.ListComment;
}

<div class="containerShow">
    <span style="background-color: blueviolet; border: 1px solid black; border-radius: 5px; top: 10px; position: relative;">
        @Html.ActionLink("Write Article", "WriteArticle", "Home", new { title = Title, id = ArticleId, authorId = AuthorId }, new {@style="color: white;"})
    </span>
    <hr/>
    <h2>Article : @Title</h2>
    <div>
        Author :
        <br/>
        <img id="imgProfile" src="@Url.Action("GetImage", "Account", new {authorId = AuthorId})" width="100"/>
        <span id="userPlace"></span>
    </div>
    <hr/>
    <div id="divText" data-article-id="@ArticleId" data-author-id="@AuthorId"></div>
    <hr/>
    <div>
        @{
            Html.ViewData.Add(new KeyValuePair<string, object>("ArticleId", ArticleId));
            Html.RenderPartial("ArticleCommentPartial", Html.ViewData);

        }


    </div>
    <hr/>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


    <div style="margin-top: 10px">
        @Html.Action("CommentListPartial", new {commetaries = listComment})
    </div>


    <script src="~/Scripts/pages/showArticle.js"></script>
</div>
