<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*    <link href="~/Styles/bootstrap.css" rel="stylesheet" type="text/css"/>*@
    @*    <link href="~/Styles/styleHtmlEditor.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css"/>

    <script src="~/Scripts/libs/others/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
    <script src="~/Scripts/libs/jquery/jquery.validate.js"></script>
    <script src="~/Scripts/libs/jquery/jquery.validate.unobtrusive.js"></script>

</head>
<body class="">


    <div id="wrapper">
   
        <div id="header">
            <div id="logo">
                <img src="~/Styles/Images/blogpost.jpg" height="150" alt="email image">
            </div>
            <div id="titlesPlace">
                <div id="mainTitle">
                    <h1>My Blog</h1>
                    <div id="userLogin">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
                <div id="pageTitle">
                    <ul class="menu">
                        <li>
                            @Html.ActionLink("List Articles", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("New Article", "NewArticle", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Own Articles", "ShowOwnArticles", "Home")
                        </li>
                        <li>
                            <div style="width: 200px; display: inline;">
                                @Html.Partial("_SearchArticlePartial")
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                @RenderBody()
            </div>
        </div>
    </div>

    @*
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My Blog</p>
                </div>
            </div>
        </footer>*@
</body>
</html>
